.Chat-main
  .Chat-main__group-info
    .header-leftbox
      %p.current-group test
      %ul.member-list
        %li.member
        Member : masa
    .header-rightbox
      = link_to "#", class: "edit-btn"  do
        Edit
  .Chat-main__message-list
    .main-box
      .message-box
        .name-box
          %p.name-box__name masa
          %p.name-box__date 2019/11/20(Wed) 17:43:01
        %p.inputted-message おはよう！
        .name-box
          %p.name-box__name masa
          %p.name-box__date 2019/11/20(Wed) 17:43:01
        %p.inputted-message 俺やで！
        .name-box
          %p.name-box__name masa
          %p.name-box__date 2019/11/20(Wed) 17:43:01
        %p.inputted-message 知ってるで！
        .name-box
  .Chat-main__message-form
    .form-list
      .form-list__left-box
        = form_with url: "#", html: {class: "text-box"}  do |f|
          .input-message
            = f.text_field :body, placeholder: "type a message", class: "input-text"
            %label{class: "send_image"}
              = icon('far', 'image')
              %input{type: "file", class: "none"}
      .form-list__right-box
        = form_with url: "#" do |f|
          = f.submit "Send", class: "submit-btn"


-# .div  relative, divとtext_fieldを同じサイズにしておく
-#   = f.text_field method, {}  
-#   %label  absolute